<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiv.infrastructure.dao.AiMcpInfoMapper">

    <resultMap id="BaseResultMap" type="com.tiv.infrastructure.dao.po.AiMcpInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="mcpId" column="mcp_id" jdbcType="VARCHAR"/>
        <result property="mcpName" column="mcp_name" jdbcType="VARCHAR"/>
        <result property="transportType" column="transport_type" jdbcType="VARCHAR"/>
        <result property="transportConfig" column="transport_config" jdbcType="VARCHAR"/>
        <result property="requestTimeout" column="request_timeout" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,mcp_id,mcp_name,
        transport_type,transport_config,request_timeout,
        status,create_time,update_time
    </sql>

</mapper>
